{% extends 'base.html.twig' %}

{% block title %}Hello ZoomController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Zoom Meeting SDK ! ✅</h1>

    <ul>
        <li><code><a href="/clientView">Client view</a></code></li>
        <li><code><a href="/componentView">Component view</a></code></li>
    </ul> 
</div>
{% endblock %}