{% extends 'base.html.twig' %}

{% block title %}Hello ZoomController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello! ✅</h1>

    {# This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/steph/OneDrive/Bureau/Projets/zoom-symfony-example/src/Controller/ZoomController.php'|file_link(0) }}">src/Controller/ZoomController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/steph/OneDrive/Bureau/Projets/zoom-symfony-example/templates/zoom/index.html.twig'|file_link(0) }}">templates/zoom/index.html.twig</a></code></li>
    </ul> #}
</div>
{% endblock %}